body{
    background-image:url("../Assets/grassplain.png") ;
}
.CP .h1{
    display: flex;
    color: rgb(211, 123, 34);
    font-size: large;
    justify-content: center;
    padding:1rem;
    
}
.CP .pokemon_container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-left: 3.5rem;
    gap:2rem;
}
.CP .enemy_container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin-left: 3.5rem;
    gap:2rem;
}
.pokemon-my{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(209,221,255);
    border-radius: 1rem;
    padding: 1rem;
    border:2px solid black;
    cursor: pointer;

    width:16vw;
    height: 20rem;
}
.pokemon-my .img{
    width: 16vw;
}
.pokemon-my:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}
.pokemon-enemy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgb(209,221,255);
    border-radius: 1rem;
    padding: 1rem;
    border:2px solid black;
    cursor: pointer;

    width:16vw;
    height: 20rem;
}
.pokemon-enemy .img{
    width: 16vw;
}
.pokemon-enemy:hover{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
}

.selectBtnDiv{
    display: flex;
    justify-content: center;
    margin: 4rem;
}
.selectBtn{
    border: none;
    padding: 1rem 4rem;
    font-size: large;
    border-radius: 1rem;
    cursor: pointer;
}
.selectBtn:hover{
    background-color: #9d7520;
    color: white;
    transition: all 0.4s;
}
.hidden{
    display: none;
}