
*{
    font-family: 'Pixelify Sans',"sans-serif";
}
body{
    background-image: url("../Assets/grassplain.png");
}
#canvas{
    background-image: url("../Assets/grassplain.png");
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
