#canvas{
    background-image: url("../Assets/grassplain.png");
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.display-message{
    display: none;
}
@media(max-width:40rem){
    #canvas{
        display: none;
    }
    .display-message{
        display: block;
    }
}